.dose-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    transition: ease 0.3s;
}

.dose-popup-container {
    background-color: white;
    border-radius: 40px;
    width: 809px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 100000000;
    position: sticky;
    left: 400px;
    top: 200px;
}

.dose-popup-container .popup-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dose-popup-container .popup-heading .text {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dose-popup-container .popup-heading .text p {
    font-size: 1.5rem;
    font-weight: 800;
}

.dose-popup-container .popup-heading .x-icon {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: #F7F9FB;
    padding: 13px;
    cursor: pointer;
}

.dose-popup-container .dose-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dose-popup-container .dose-data .data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dose-popup-container .dose-data p {
    font-weight: 900;
}

.dose-popup-container .dose-data .data span {
    width: 600px;
}

.dose-popup-container .dose-data span {
    color: #8C9AB3;
}

.dose-popup-container .dose-values {
    display: flex;
    gap: 15px;
}

.dose-popup-container .dose-values p {
    font-weight: 800;
}



.dose-popup-container .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: white;
}

.dose-popup-container .buttons .btn {
    width: 141px;
    height: 39px;
    border-radius: 15px;
}

.dose-popup-container .buttons .cancel {
    background-color: #e84853;
}

.dose-popup-container .buttons .save {
    background-color: #66C060;
}

.dose-popup-container .buttons .cancel:hover {
    background-color: #fa4c58;
}

.dose-popup-container .buttons .save:hover {
    background-color: #6acf62;
}

.dose-range {
    cursor: pointer;
    transition: ease 0.3s;

}

.range-container {
    position: relative;
}

.range-container .circle {
    position: absolute;
    bottom: 5px;
    width: 12px;
    height: 12px;
    border-radius: 0.5rem;
    background-color: white;
    border: 1px solid #1FA6EF;
    cursor: pointer;
}

.range-container .text {
    position: absolute;
    bottom: -15px;
    font-size: 12px;
    white-space: nowrap;
    color: #8C9AB3;
}