.info-container {
    margin-top: 64px;
    display: flex;
  }
  
  .label {
    color: #707070 !important;
    font-family: "Lama Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  
  .label-margin {
    margin-right: 150px;
  }
  
  .patient-details-container {
    width: 1085px;
    flex-shrink: 0;
    border-radius: 20px;
    height: 64px;
    background: #fff;
    margin-top: 23px;
  }
  
  .detail-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .patient-details {
    display: flex;
    justify-content: space-between;
  }
  
  .detail {
    color: #000;
    font-family: "Lama Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }
  
  .detail-age {
    color: #707070 !important; /* Corrected color */
    font-family: "Lama Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  