.container:has(input[value="High"]:checked) {
  border-color: red;
  background-color: rgb(255, 0, 0, 0.1);
}
.container:has(input[value="Moderate"]:checked) {
  border-color: blue;
  background-color: rgb(0, 0, 255, 0.1);
}
.container:has(input[value="Low"]:checked) {
  border-color: green;
  background-color: rgb(0, 255, 0, 0.1);
}
