.review-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: "Lama Sans-Regular", Helvetica;
    width: 984px;

}

.review-container .heading-contanier {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-container .heading-contanier h2 {
    font-size: 1.5rem;
    line-height: 25px;
}

.review-container .heading-contanier p {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 25px;
}

.review-container .medications {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.review-container .heading {
    line-height: 25px;
    font-size: 1.5rem;
    font-weight: 700;
}

.review-container .medications .pre-medication {
    background-color: white;
    border-radius: 20px;
}

.review-container .medications .chemo-therapy {
    background-color: white;
    border-radius: 20px;
}

.review-container .medications .table-name {
    line-height: 25px;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 15px;
}

.review-container .medications .table-rows {
    border-top: 1px solid #D4D4D4;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.review-container .medications .instructions {
    display: flex;
    justify-content: space-between;
}

.review-container .medications .med-name {
    text-transform: uppercase;
}

.review-container .medications .med-instruction {
    color: #5A5A5A;
}

.review-container .medications .dose {
    background-color: #1FA6EF;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: -10px;
}

.review-container .notes-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-container .notes-container .notes {
    font-weight: 600;
    line-height: 25px;
}

.review-container .buttons {
    display: flex;
    gap: 15px;
    margin-left: 355px;
}

.review-container .buttons .btn {
    width: 152px;
    height: 39px;
    color: white;
    border-radius: 20px;
}

.review-container .buttons .btn:hover {
    color: black;
    border: 1px solid black;
    background-color: white;
    transition: ease 0.3s;
}

.review-container .buttons .back {
    background-color: #6a798e;
}

.review-container .buttons .submit {
    background-color: #1FA6EF;
}

@media (max-width: 1050px) {
    .review-container {
        width: 700px;
    }

    .review-container .buttons {
        margin-left: 255px;
    }
}

@media (max-width: 765px) {
    .review-container {
        width: 550px;
    }

    .review-container .buttons {
        margin-left: 155px;
    }
}

@media (max-width: 595px) {
    .review-container {
        width: 450px;
    }

    .review-container .buttons {
        margin-left: 75px;
    }

}

@media (max-width: 475px) {
    .review-container {
        width: 350px;
    }

    .review-container .buttons {
        margin-left: 45px;
    }

}