table {
    width: 100%;
    font-family: "Lama Sans-Regular", Helvetica;
    line-height: 25px;
}

thead {
    color: #707070;
}

th {
    height: 50px;
    border-bottom: 1px solid #D4D4D4;
    text-align: unset;
    font-weight: 300;
}


tr {
    border-bottom: 1px solid #D4D4D4;
    height: 50px;
}

tr:last-child {
    border-bottom: none;
}

table td:nth-child(2) {
    text-transform: uppercase;
}


.checkboxCell {
    width: 73px;
    text-align: unset;
}

[type="checkbox"] {
    border-radius: 5px !important;
}

[type="checkbox"]:checked {
    color: black;
}


[type="checkbox"]:checked:hover {
    color: #707070;
}

[type="checkbox"]:hover {
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3s;
}