.regimen-detail {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.regimen-detail .medications {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.regimen-detail .medications .header {
    display: flex;
    gap: 30px;
}

.regimen-detail .medications .header .reset {
    background-color: #E84853;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
}

.regimen-detail .medications .header .reset:hover {
    background-color: rgb(244 245 249);
    border: 1px solid #E84853;
    transition: ease 0.3s;
    color: #E84853;
}

.regimen-detail .pre-mediaction,
.regimen-detail .chemotherapy {
    background-color: white;
    border-radius: 20px;
}


.pre-mediaction-header,
.chemotherapy-header {
    display: flex;
    justify-content: space-between;
    height: 54px;
    border-bottom: 1px solid #c2c2c2;
    padding: 15px;

}

.regimen-detail .buttons-container {
    font-family: "Lama Sans-Regular", Helvetica;
    line-height: 25px;
    display: flex;
    gap: 15px;
}

.buttons-container .btn {
    border-radius: 10px;
    font-weight: 600;
    padding: 7px 26px;
    margin-top: -10px;
}

.buttons-container .edit {
    border: 1px solid #1FA6EF;
    color: #1FA6EF;
    width: 88px;
    height: 40px;
}

.buttons-container .edit:hover {
    background-color: #1FA6EF;
    color: white;
}

.buttons-container .del {
    border: 1px solid #E84853;
    color: #E84853;
    width: 96px;
    height: 40px;
}

.buttons-container .del:hover {
    background-color: #E84853;
    color: white;
}

.buttons-container .dose {
    border: 1px solid #1FA6EF;
    color: #1FA6EF;
    width: 165px;
    height: 40px;
}

.buttons-container .dose:hover {
    background-color: #1FA6EF;
    color: white;
}

.regimen-detail .table-name {
    font-family: "Lama Sans-Regular", Helvetica;
    line-height: 25px;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 500;
}

.regimen-detail .heading {
    font-family: "Lama Sans-Regular", Helvetica;
    line-height: 25px;
    font-size: 1.5rem;
    font-weight: 600;
}

.regimen-detail .notes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.notes .notes-area {
    height: 130px;
    border-radius: 20px;
    border: 1px solid #c2c2c2;
    font-family: "Lama Sans-Regular", Helvetica;
    padding: 15px 19px;
    line-height: 25px;
    color: #707070;
    resize: none;
    background-color: white;
}

.notes .next {
    width: 218px;
    height: 39px;
    background-color: #1FA6EF;
    color: white;
    font-family: "Lama Sans-Regular", Helvetica;
    line-height: 25px;
    border-radius: 15px;
    align-self: center;
    text-align: center;
}

.notes .next:hover {
    background-color: white;
    border: 1px solid black;
    transition: all 0.3s;
    color: black;
}