.order-container {
    height: 1315px;
    display: flex;
    flex-direction: column;
    margin-left: 228px;
    gap: 36px;
    width: 984px;
}

.order-container .text-wrapper-5 {
    color: #000000;
    font-family: "Lama Sans-Bold", Helvetica;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 25px;
    white-space: nowrap;
}

@media (max-width: 1050px) {
    .order-container {
        width: 700px;
    }


}

@media (max-width: 765px) {
    .order-container {
        width: 550px;
    }


}

@media (max-width: 595px) {
    .order-container {
        width: 450px;
    }


}

@media (max-width: 475px) {
    .order-container {
        width: 350px;
    }


}

/* .order-container .navigation {
    align-items: center;
    display: inline-flex;
    gap: 15px;
    left: 60px;
    position: absolute;
    top: 20px;
}

.order-chemotherapy .text-wrapper-2 {
    color: #000000;
    font-family: "Lama Sans-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.order-chemotherapy .img {
    height: 13px;
    position: relative;
    width: 7.58px;
}

.order-chemotherapy .text-wrapper-3 {
    color: #000000;
    font-family: "Lama Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.order-chemotherapy .text-wrapper-4 {
    color: #8e9cb4;
    font-family: "Lama Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
} */